.grid
    .header
        .header__logo-section Code Storm
    .main
        .main__scoreboard.material-shadow.round-borders
            .scoreboard-title.purple-font Scoreboard
            .js-scoreboard

    .profile-section