.black-background
.main
    .main-block
        .menu.white-background
            - if (authorized) {
            .button.yellow.search Search for opponent
            .button.yellow.cancel Cancel
            .waiting
                h2 Waiting...
            - } else {
            p Please, sign in or register
            .button.button-half.button-left.yellow.simple-href
                a(href="/signin") Log in
            .button.button-half.button-left.yellow.simple-href
                a(href="/signup") Register
            -}