.black-background
.header
    .logo-section
        .logo-section__logo LOGO
    .free-section
    .profile-section
.main-block
    .menu.white-background
        h1 Your profile
        br
        |   Login
        |   #{login}
        br
        |   Mail:
        |   #{mail}
        br
        |   Score
        |   #{score}
        .button.button-centered.logout.yellow Logout