.black-background
.header
    .logo-section
        .logo-section__logo LOGO
    .free-section
    .profile-section
.main-block
    .menu.menu-shadow.profile-menu.white-background
        .center-block
            h1 Your profile
        .clearfix.prifile-string
            .floated-left Login:
            .floated-right #{login}
        br
        .clearfix.prifile-string
            .floated-left E-mail:
            .floated-right #{mail}
        br
        .clearfix.prifile-string
            .floated-left Score:
            .floated-right #{score}
        br
        .button.button-centered.logout.yellow.button-logout Logout