.black-background
.header
    .logo-section
        .logo-section__logo LOGO
    .free-section
    .profile-section
.main-block
    .menu.white-background
        .button Your profile
        .button.button-half.button-left Login
        .button.button-half.button-right #{login}
        .button Mail: #{mail}
        .button.button-half.button-left Score
        .button.button-half.button-right #{score}
        .button.logout.yellow Logout