form(enctype = "multipart/form-data")
    h1 #{caption}
    - let checker = null;
    - for (let field of fields) {
        - if(field[1] == "checkbox"){
        -   checker = field;
        -   break;
        -}
        input(
        name = field[0]
        type = field[1]
        id = field[2]
        placeholder= field[0])
        .label-box
            label(for = field[2] )
        br
    - }
    - if (checker){
        .check
            input(
            type = 'checkbox'
            id = 'remember')
            label(for = 'remember') Remember me!
            br
    -}
    br
    .errors
    .button.yellow #{buttonCaption}
