
.about-page {
  width: 40vw;
  height: 56vmin;
}

.about-page__content {
  text-align: center;
  font-size: 3vmin;
  margin: 1vmin 6vmin;
  font-weight: 400;
}

.about-page__developers {
  margin: 0 2vmin;
}

.developer-title {
  margin-top: 5vmin;
  font-size: 4vmin;
}

.developer {
  font-size: 2vmin;
  text-align: center;
  margin: 0.5vmin 0;
}

.about-page__title {
  margin: 1vmin auto 1vmin auto;
  text-align: center;
  font-size: 6vmin;
  display: block;
}

