$JSColor:  #FBF55D;
.header {
  float: left;
  display: flex;
  width: 100%;
  height: 10rem;
}


.logo-section {
  width: 30vw;
  height: 12vh;
  float: left;
  display: flex;
}

.logo-section__logo {
  display: inline-block;
  float: left;
  width: 50%;
  height: 80%;
  color: #000;
  font-size:1.8rem;
  text-align: center;
  background-image: url("../img/logo3.JPEG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 15% 50%;
}


.free-section {
  background-color: white;
  height: 100%;
  width: 40%;
}

.profile-section {
  font-family: 'Antic Didone', serif;
  position: absolute;
  right: 0;
  top: 0;
  width: 10vw;
}

.profile-img {
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 5%;
  margin-left: 6%;
}

.profile-section__profile {
  display: flex;
}

.material {
  background: #fff;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.simple-href a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.main-block {
  width: 100%;
  display: flex;
  height: 80%;
  justify-content: center;
}

.logo-oil {
  position: absolute;
  top: 10vh;
  z-index: -1;
  width: 100%;
  height: 90vh;
  background-image: url("../img/oil.GIF");
  background-size:90vh;
  background-repeat: no-repeat;
  background-position: center;
}