html, body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  /*background: #000000;
  background: -moz-linear-gradient(-45deg, #000000 84%, #45484d 96%);
  background: -webkit-linear-gradient(-45deg, #000000 84%,#45484d 96%);
  background: linear-gradient(162deg, #000000 84%,#45484d 96%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 );color: #FBFBFB;
  */
}

#application {
  height: 100%;
  width: 100%;
}

/*
розовый #EE4266
фиолетовый #FBFBFB
белый #FBFBFB
светло-голубой #C5D5EA
серый #EAEAEA
new goole purple 673AB7
 */

body a {
  color: #FBFBFB;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 30% 60% 10%;
  grid-template-areas:
          "header header header"
          "main main main"
          "main main main";
  background-color: #EAEAEA;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #673AB7;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.header__logo-section {
  display: block;
  color: #FBFBFB;
}

.main__href_style {
  position: relative;
  color: #6441A5;
  text-decoration: none;
  cursor: pointer;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
  grid-column: 2/3;
}

.material-shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.small-material-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.smalld-material-shadow {
  box-shadow: 0 0 2px rgba(0,0,0,0.400);
}


.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}