.button {
  position: relative;
  font-size: 1.5em;
  min-height: 50px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 4%;
  color: #262626;
  box-shadow: 0 4px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
  transition-duration: .3s;
  transition-timing-function: linear;


}
.button-positive{
  background: #44AF69;
  color: #FFFFFF;

}
.button-negative{
  background: #ED254E;
  color: #FFFFFF;

}
.button:hover{
  cursor: pointer;
  box-shadow: 0 8px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.button:hover::after {
  transform: scale(1.1);
  cursor: pointer;
  /*box-shadow: 2px 3px 3px rgba(0,0,0,0.5);*/
  /*background: #028dae;*/
}

.button-half {
  /*float: left;*/
  display: inline-block;
  width: 49%;
}

.button-left {
  margin-right: 1%;
}

.button-right {
  margin-left: 1%;
}
.button-centered{
  margin-left: 10%;
}

.button-last {
  margin-right: 0px;
  /*margin-left: -10px;*/
}
