.game-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas:
          "header header header"
          "main main main"
          "main main main";
}

.grey-font {
  color: #616161;;
}

.game-card {
  width: 31vw;
  --game-width: 31vw;
  margin-top: 5vmin;
  font-weight: 400;
}

.game-main-color {
  background-color: #673AB7;
}

.game-header {
  background-color: white;
  color: #673AB7;
}

.game-card__question {
  height: 30vh;
  font-size: 2.5vmin;
  margin: 2vmin 0 3vmin 0;
  border-radius: 8px;
  background-color: white;
  transform: rotate(-2deg);
}

.z-1 {
  z-index: -1;
  transform: rotate(4deg);
}

.z-2 {
  z-index: -2;
  transform: rotate(-2deg);
}

.game-card__question-holder {
  margin: 0 3vmin;
}

.game-card__answer {
  height: 8vh;
  background-color: white;
  margin: 2vmin 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vmin;
}

.game-header {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 55% 45%;
  grid-template-areas:
          ". opponent time-section"
          ". round-info time-section";
}

.center-column-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.header__round-info {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: round-info;
  font-size: 3vmin;
}

.header__round {

}

.header__theme {

}


.header__hyphen {
  margin: 0 0.4vmin;
}

.header__opponent {
  grid-area: opponent;
  margin: 2vmin 2vmin;
  font-size: 5vmin;
}

.header__time-section {
  grid-area: time-section;
  flex-direction: column;
  margin: 2vmin 2vmin;
  font-size: 5vmin;
}

.header__timer {

}

.header__waiting-block {
  font-size: 3vmin;
  text-align: center;
}


.slide:hover,
.slide:focus {
  box-shadow: inset var(--game-width) 0 0 0 var(--hover);
  color: #fff;
}

.slide {
  --hover:#EE4266;
}

.button-answer {
  transition: 0.25s;
  border-radius: 8px;
}

.answer_border:hover {
  box-shadow: 0 0 40px #fff;
}

.game-card__progress-bar {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar__inside {
  height: 1vmin;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress-bar_zero {
  width: 3%;
  background-color: inherit;
}

.progress-bar_five {
  width: 8%;
  background-color: #EE4266;
}

.progress-bar_thirty-three {
  width: 33%;
  background-color: #EE4266;
}

.progress-bar_sixty-six {
  width: 66%;
  background-color: yellow;
}

.progress-bar_one-hundred {
  width: 100%;
  background-color: #5fe12c;
}

.blink {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
  60% {color: inherit; }
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
  60% {color: inherit; }
  100% { color: rgba(34, 34, 34, 0); }
}

.correct-answer {
  -webkit-animation-name: green-answer;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
}

.wrong-answer {
  -webkit-animation-name: red-answer;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s
}

@-webkit-keyframes green-answer {
  to { background-color: #1ccb28; color: white}
}

@-webkit-keyframes red-answer {
  to { background-color: #f70000;color: white }
}


.scale-animation {
  z-index: 2;
  font-size: 3vmin;
  width: inherit;
  display: block;
  -webkit-animation: scale 1s ease-out;

  justify-self: center;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

.theme-select {
  font-size: 4vmin;
  color: #6441A5;
}
