.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 6vmin; }
.material-icons.md-64 { font-size: 3vmin; }
.material-icons.md-4 { font-size: 4vmin; }
.material-icons.md-5 { font-size: 5vmin; }

.md-inactive { color: rgba(0, 0, 0, 0.26); }