.main-preloader {
    z-index: 100;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 801px) {
    .main-preloader__letter {
        font-size: 5rem;
        font-family: "sans-serif";
    }
}
@media screen and (max-width: 800px) {
    .main-preloader__letter{
        font-size: 3rem;
        font-family: "sans-serif";
    }
}

.main-preloader__center {
    display: block;
}


@-webkit-keyframes blackblur {
    0% { text-shadow: 0 0 72px black; color: transparent; }
    60%   { text-shadow: 0;              color: black;       }
    100% { text-shadow: 0 0 72px black; color: transparent; }
}


.main-preloader__center  span:nth-of-type(1)  { -webkit-animation: blackblur 2s       1 alternate; animation-iteration-count: infinite;}
.main-preloader__center  span:nth-of-type(2)  { -webkit-animation: blackblur 2s 0.1s  1 alternate; animation-iteration-count: infinite;}
.main-preloader__center  span:nth-of-type(3)  { -webkit-animation: blackblur 2s 0.15s 1 alternate; animation-iteration-count: infinite;}
.main-preloader__center  span:nth-of-type(4)  { -webkit-animation: blackblur 2s 0.2s  1 alternate; animation-iteration-count: infinite;}
.main-preloader__center  span:nth-of-type(5)  { -webkit-animation: blackblur 2s 0.25s 1 alternate; animation-iteration-count: infinite;}
.main-preloader__center  span:nth-of-type(6)  { -webkit-animation: blackblur 2s 0.3s  1 alternate; animation-iteration-count: infinite;}
.main-preloader__center  span:nth-of-type(7)  { -webkit-animation: blackblur 2s 0.35s 1 alternate; animation-iteration-count: infinite;}
