.menu{
  z-index: 1;
  position: absolute;
  display: inline-block;
}
.menu-shadow{
  box-shadow: 0 4px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
}
.profile-menu{

}
@media screen and (min-width: 801px) {
  .menu {
    top: 35vh;
    left: calc(50% - 175px);
    width: 350px;
  }
}
@media screen and (max-width: 800px) {
  .menu{
    top: 15vh;
    width:90%;
    left:5%;
  }
}

.menu-href {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  color: black;
  text-decoration: none;
}