$JSColor:  #FBF55D;
.menu-modal{
  margin-top: 0;
  position: absolute;
  top:100px;
  left: calc(50% - 175px);
  z-index: 2;
  display: none;
  background-color: rgb(255, 255, 255);
}

form {
  padding: 10px;
}

.errors {
  font-size: small;
  color: red;
}
.menu-modal img{
  width: 100%;
  height: auto;
}
.menu-modal h1{
  position: absolute;
  color:  $JSColor;
  top: 10px;
  left:5px;
}
.shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1; /* поверх всех  кроме окна*/
  background-color: rgb(0, 0, 0);
  opacity: 1;
  left: 0;
  top: 0;
}