
.profile-section__profile-authorized {
  float: right;
  height: 25%;
  width: 12rem;
  margin-right: 0.5rem;
}

.profile-section__profile-unauthorized {
  float: right;
  height: 25%;
  width: 12rem;
  margin-right: 0.5rem;
}

.profile-login__login {
  height: 100%;
  width: 50%;
  font-size: 1.3rem;
  float:left;
}

.profile-login__login  a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.profile-login__first-letter {
  color: orange;
}

.profile-login__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 50%;
  height: 100%;
}

.profile-login__signup a {
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  float: left;
  display: inline-block;
  height: 100%;
  width: 25%;
  margin-left: 0.3rem;
}

.profile-login {
  float: right;
  padding-right: 10px;
  padding-top: 8px;

  font-size: 1.3rem;
  width: 50%;
  height: 100%
}

.profile-score {
  float: left;
  text-align: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50%;
}

.center-block {
  text-align: center;
}

.center-block > h1 {
  display: inline-block;
}