.user-profile {
  width: 50vw;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 10% 50% 20%;
  grid-template-areas:
          "profile-header profile-header"
          "picture wrapper"
          "user-profile__change profile-button";
}

.round-borders {
  border-radius: 10px;
}

.user-profile__button {
  grid-area: profile-button;
  border-left: 3px solid #6441A5;
  height: 7vmin;
  margin-bottom: 6vmin;
}

.user-profile__picture {
  grid-area: picture;
  margin-bottom: 1vmin;
}

.user-profile__change-avatar {
  width: 5vmin;
  height: 5vmin;
  border-radius: 2.5vmin;
  background-color: #EE4266;
  color: white;
  border-bottom: 0;
  grid-area: user-profile__change-avatar;
}

.user-profile__change {
  grid-area: user-profile__change;
  margin-bottom: 4vmin;
}


.user-profile__image {
  width: 70%;
  height: 70%;

}

.profile-data-wrapper {
  display: flex;
  grid-area: wrapper;
  flex-direction: column;
  margin-top: auto;
  padding-left: 5vmin;
  border-left: 3px solid #6441A5;
}

.user-profile__header {
  font-size: 6vmin;
  text-align: center;
  margin-top: 4vmin;
  grid-area: profile-header;
}

.logout-button {
  display: inline-block;
  width: 14vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 3vh;
  margin-top: 2vmin;
  margin-bottom: 4vmin;
}
