/*Menu  styles*/

html {
    height: 100%;
    width: 100%;
}

body {
    color: #8f8f8f;
    font-family: 'Oswald', sans-serif;
    background-color: #f8f8f8;
    border-top: 0px solid #7e7e7e;
    margin: 0;
    height: auto;
    width: 100%;
    background-image: url("../img/back.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

/*Menu styling*/
.menu {

    width: 350px;
    /*height: 500px;*/
    margin: auto;
    /*background-color: #7e7e7e;*/
    vertical-align: middle;
    margin-top: 100px;
    /*border:1px solid white;*/

}

.authorized {
    display: none;
}

.button {
    font-size: 1.5em;
    background: #29C2E6;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 4%;
    color: white;

}

.button:hover {
    cursor: pointer;
    background: #028dae;
}

.button-half {
    /*float: left;*/
    display: inline-block;
    width: 48%;
    margin-right: 4%;
}

.button-last {
    margin-right: 0px;
}

/*Auth form styles*/
.shadow {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1; /* поверх всех  кроме окна*/
    /*background:#000;*/
    /*opacity: 0.95; !*прозрачность*!*/
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    top: 0;
}

input {
    float: right;
}

input[type = "checkbox"] {
    float: left;
}

/*Modal windows*/

.shadow .menu {

    z-index: 2;
    display: none;
    background-color: rgba(255, 255, 255, 1);
}

form {
    padding: 10px;
}

.errors {
    font-size: small;
    color: red;
}

/*Scoreboard styling*/

.leaderboard .button {
    margin-bottom: 0;
}

.leaderboard .button:hover {
    background-color: #29C2E6;
}

.player {
    padding: 2px 20px;
    font-size: 1.5em;
    background: #C4C4C4;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    /*margin-bottom: 4%;*/
    color: white;
}

.player:nth-child(2n) {
    background: #D4D4D4;
}

.player:hover {
    color: #29C2E6;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.floated-left {
    float: left;
}

.floated-right {
    float: right;
}