.grid
    .header
        .header__logo-section Code Storm
    .main
        .about-page.material-shadow.center-column-content.round-borders
            .about-block.center-column-content
                .about-page__title.purple-font About
                .about-page__content.grey-font Game rules are extremely simple: you have 3 rounds with 3 questions in each round. Round is passed, when two or more questions are answered correctly. In multiplayer there are 3 rounds too, first and third are picked by players and second - random.
            .about-page__developers
                .developer-title.pink-font Developers
                .developer.purple-font Andrey Babkov
                .developer.purple-font Evgeniy Morozov
    .profile-section
