.header
    .logo-section
        .logo-section__logo
    .profile-section
.main-block
    .logo-oil
    .menu
        .unauthorized
            .button
                a.menu-href(href = "/multiplayer-game") Play multiplayer
        .common-menu
            .button
                a.menu-href(href = "/offline-game") Play singleplayer
            .button.button-leaderboard
                a.menu-href(href="/leaderboard") Leaderboard
