.menu
    .authorized
        .button Play as #{username}
        .button.button-half.button-settings Settings
        .button.button-half.button-last Log out
    .unauthorized
        .button Play as guest
        .button.button-half.button-login.button-left
            a(href="/signin") Log in
        .button.button-half.button-register.button-right
            a(href="/signup") Register
    .common-menu
        .button
            a(href = "/game/offline-mode") Play singleplayer
        .button.button-leaderboard
            a(href="/leaderboard") Leaderboard
.shadow
.menu.menu-modal.leaderboard
    .leaderboard-body
.menu.menu-modal.login
.menu.menu-modal.register
.menu.menu-modal.settings