.header
    .logo-section
        .logo-section__logo LOGO
    .profile-section
.main-block
    .logo-oil
    .menu
        .unauthorized
            .button Play
        .common-menu
            .button
                a.menu-href(href = "/offline-game") Play singleplayer
            .button.button-leaderboard
                a.menu-href(href="/leaderboard") Leaderboard
