- if (authorized) {
.main__profile-registered.center-content
    a.bottom-appearance.purple-font(href='/profile')
        span.profile-registered__first-letter.pink-font #{firstLetter}
        | #{otherLetters}
    .main__profile-picture
        img.main__profile-image(src="../../img/avatars/1.svg")

- } else {
.main__profile-unregistered
    a.bottom-appearance.pink-font(href="/signin") Login
    a.bottom-appearance.pink-font(href="/signup") Register
-}