.wrapper-not-found.center-content
    .wrapper-not-found__404 #{errorCode}
    .wrapper-not-found__info.round-borders.small-material-shadow.center-content
        .wrapper-not-found__text.grey-font #{description}
        a.wrapper-not-found__button.btn.form__button_style.btn-animation.center-content.noTextDecoration(href = "/") Go home
