html, body {
    height: 100%;
    margin: 0;


    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;

    /*background: #000000;
    background: -moz-linear-gradient(-45deg, #000000 84%, #45484d 96%);
    background: -webkit-linear-gradient(-45deg, #000000 84%,#45484d 96%);
    background: linear-gradient(162deg, #000000 84%,#45484d 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 );color: #FBFBFB;
    */
}

#application {
    height: 100%;
    width: 100%;
}

/*
розовый #EE4266
фиолетовый #FBFBFB
белый #FBFBFB
светло-голубой #C5D5EA
серый #EAEAEA
new goole purple 673AB7
 */

body a {
    color: #FBFBFB;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 30% 60% 10%;
    grid-template-areas:
            "header header header"
            "main main main"
            "main main main";
    background-color: #EAEAEA;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #673AB7;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.header__logo-section {
    display: block;
    color: #FBFBFB;
}

.main__href_style {
    position: relative;
    color: #6441A5;
    text-decoration: none;
    cursor: pointer;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 2/3;
}

.main__menu {
    display: inline-block;
}

.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.href-animation:before, .href-animation:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

.center-appearance {
    padding-top: 10px;
    text-decoration:none;
}

.center-appearance:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #EE4266;
    transform: scaleX(0);
}
.center-appearance:hover:before {
    transform: scaleX(1);
}



.main__profile-unregistered {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}


.main__profile-registered {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    height: 8vmin;
    justify-content: space-between;
}

.main__profile-image {
    width: 100%;
    height: 100%;
}

.main__profile-picture {
    width: 10vmin;
}

.main__profile-registered {
    font-size: 4vh;
    margin: 0 2vmin 2vmin 0;
}

.main__profile-unregistered a {
    text-decoration:none;
}

.pink-font {
    color: #EE4266;
}

.purple-font {
    color: #6441A5;
}

.green-font {
    color: #0be10c;
}

.light-purple-font {
    color: rgba(197, 146, 255, 0.77);
}

.white-font {
    color: white;
}

.bottom-appearance {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.bottom-appearance::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #EE4266;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    transform: translateY(15px);
}

.bottom-appearance:hover::after, .bottom-appearance:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}


/*
 *
 * Далее логин.ссц
 *
 */


/* form starting stylings ------------------------------- */
.form_elements {
    margin-left: auto;
    margin-right: auto;
    position:relative;
    margin-bottom:5vh;
}

.form_elements__input {
    font-size:3vh;
    display:block;
    width:25vw;
    border:none;
    border-bottom:2px solid #6441A5;
    -webkit-appearance: none;
    border-radius: 0;
}

.form_elements__input:focus {
    outline:none;
}

/* LABEL ======================================= */
.form_elements__label {
    color:#999;
    font-size:2vh;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:0.3vw;
    top:0.1vh;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
.form_elements__input:focus ~ .form_elements__label, .form_elements__input:valid ~ .form_elements__label {
    top:-2.2vh;
    font-size:1.6vh;
    color:#EE4266;
}

/* BOTTOM BARS ================================= */
.bar {
    position:relative;
    display:block;
    width:100%;
}

.bar:before, .bar:after {
    content:'';
    height:2.5px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#6441A5;
    transition:0.5s ease all;
    -moz-transition:0.5s ease all;
    -webkit-transition:0.5s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
.form_elements__input:focus ~ .bar:before, .form_elements__input:focus ~ .bar:after {
    width:50%;
}


.material-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main__signin-form {
    width: 60vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main__signup-form {
    width: 60vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main__login-title {
    font-size: 3.8vmin;
    text-align: center;
    margin:2vw 0 0.5vw 0;
    color: #6441A5;
}

.main__send-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main__action-button {
    display: inline-block;
    width: 14vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 3vh;
    margin-bottom: 3vh;
}

.main__not-registered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__button_style {
    text-align: center;
    color: white;
    background-color: #EE4266;
    border-radius: 5px;
}

.main__additional-button {
    font-size: 2.5vh;
    width: 8vw;
    margin:0 0 2vw 0;
    display: inline-block;
    text-decoration: none;
}

.main__additional-title {
    font-size: 2.5vh;
    color: #6441A5;
    margin: 1vh 0;
}

.noTextDecoration {
    text-decoration: none;
}

.btn-animation {
    transition: 300ms ease-in-out;
    border-bottom: 3px solid #cc0000;
}

.btn-animation:hover {
    transform: translateY(-0.7vmin);
}

.main__errors {
    width:25vw;
    margin: 0 auto 1.5vh auto;
    font-size: 2vmin;
    color:#EE4266;
    text-align: center;
}


.user-profile {
    width: 50vw;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: white;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 50% 20%;
    grid-template-areas:
            "profile-header profile-header"
            "picture wrapper"
            "user-profile__change profile-button";
}

.round-borders {
    border-radius: 10px;
}

.user-profile__button {
    grid-area: profile-button;
    border-left: 3px solid #6441A5;
    height: 7vmin;
    margin-bottom: 6vmin;
}

.user-profile__picture {
    grid-area: picture;
    margin-bottom: 1vmin;
}

.user-profile__change-avatar {
    width: 5vmin;
    height: 5vmin;
    border-radius: 2.5vmin;
    background-color: #EE4266;
    color: white;
    border-bottom: 0;
    grid-area: user-profile__change-avatar;
}

.user-profile__change {
    grid-area: user-profile__change;
    margin-bottom: 4vmin;
}


.user-profile__image {
    width: 70%;
    height: 70%;

}

.profile-data-wrapper {
    display: flex;
    grid-area: wrapper;
    flex-direction: column;
    margin-top: auto;
    padding-left: 5vmin;
    border-left: 3px solid #6441A5;
}

.user-profile__header {
    font-size: 6vmin;
    text-align: center;
    margin-top: 4vmin;
    grid-area: profile-header;
}

.logout-button {
    display: inline-block;
    width: 14vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 3vh;
    margin-top: 2vmin;
    margin-bottom: 4vmin;
}

.user-profile__row {
    width: 100%;
    height: 6vmin;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.main__scoreboard, .about-page {
    background-color: white;
}

.user-profile__row-left,  .user-profile__row-right{
    display: inline-block;
    font-size: 3vmin;
}

.user-profile__row-left {
    margin-right: 4vmin;
}

.about-page {
    width: 40vw;
    height: 56vmin;
}

.grey-button {
    color: white;
    background-color: grey;
}

.about-page__content {
    text-align: center;
    font-size: 3vmin;
    margin: 1vmin 6vmin;
    font-weight: 400;
}

.about-page__developers {
    margin: 0 2vmin;
}

.developer-title {
    margin-top: 5vmin;
    font-size: 4vmin;
}

.developer {
    font-size: 2vmin;
    text-align: center;
    margin: 0.5vmin 0;
}

.scoreboard-title {
    margin: 1vh auto 2vh auto;
    text-align: center;
    font-size: 6vmin;
    display: block;
}

.about-page__title {
    margin: 1vmin auto 1vmin auto;
    text-align: center;
    font-size: 6vmin;
    display: block;
}

.table-scoreboard {
    font-size: 4vmin;
    width: 80vh;
    text-align: center;
    border-collapse: collapse;
}

.table__th {
    font-weight: normal;
    border-left: #c4c4c4 2px solid;
    min-width: 2.5vw;
}

.js-current-player > .table__th:nth-child(2) {
    color: #EE4266;
}

.js-current-player:hover > .table__th {
    color: white;
}

.table__tr:not(.table__tr-nohover):hover {
    background-color: #6441A5;
    color: white;
}

.table__th-no-border {
    border-left:none;
}

.table__tr:nth-child(1) > th {
    border-bottom: #c4c4c4 2px solid;
    border-top: #c4c4c4 2px solid;
    font-weight: bold;
}

.table__tr:last-child > th {
    border-bottom: #c4c4c4 2px solid;
}

.table__th-first {
    width: 17%;
}

.table__th-second {
    width: 63%;
}

.table__th-third {
    width: 20%;
}

.scoreboard__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 6vmin; }
.material-icons.md-64 { font-size: 3vmin; }


.animation-on-hover:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.pagination-prev:hover {
    animation: anim-prev 0.5s linear;
}

.pagination-next:hover {
    animation: anim-next 0.5s linear;
}

@keyframes anim-next {
    50% {transform: translate(10px);}
    100% {}
}

@keyframes anim-prev {
    50% {transform: translate(-10px);;}
    100% {}
}

.md-inactive { color: rgba(0, 0, 0, 0.26); }



.game-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 75% 10%;
    grid-template-areas:
            "header header header"
            "main main main"
            "main main main";
}

.grey-font {
    color: #616161;;
}

.game-card {
    width: 31vw;
    --game-width: 31vw;
    margin-top: 5vmin;
    font-weight: 400;
}

.game-main-color {
    /*background-color: #D1C4E9;*/
    background-color: #673AB7;
}

.game-header {
    background-color: white;
    color: #673AB7;
}

.small-material-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.smalld-material-shadow {
    box-shadow: 0 0 2px rgba(0,0,0,0.400);
}

.game-card__question {
    height: 30vh;
    font-size: 2.5vmin;
    margin: 2vmin 0 3vmin 0;
    border-radius: 8px;
    background-color: white;
    transform: rotate(-2deg);
}

.z-1 {
    z-index: -1;
    transform: rotate(4deg);
}

.z-2 {
    z-index: -2;
    transform: rotate(-2deg);
}

.game-card__question-holder {
    margin: 0 3vmin;
}

.game-card__answer {
    height: 8vh;
    background-color: white;
    margin: 2vmin 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vmin;
}

.game-header {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 55% 45%;
    grid-template-areas:
            ". opponent time-section"
            ". round-info time-section";
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header__round-info {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: round-info;
    font-size: 3vmin;
}

.header__round {

}

.header__theme {

}


.header__hyphen {
    margin: 0 0.4vmin;
}

.header__opponent {
    grid-area: opponent;
    margin: 2vmin 2vmin;
    font-size: 5vmin;
}

.header__time-section {
    grid-area: time-section;
    flex-direction: column;
    margin: 2vmin 2vmin;
    font-size: 5vmin;
}

.header__timer {

}

.header__waiting-block {
    font-size: 3vmin;
    text-align: center;
}


.slide:hover,
.slide:focus {
    box-shadow: inset var(--game-width) 0 0 0 var(--hover);
    color: #fff;
}

.slide {
    --hover:#EE4266;
}

.button-answer {
    transition: 0.25s;
    border-radius: 8px;
}

.answer_border:hover {
    box-shadow: 0 0 40px #fff;
}

.game-card__progress-bar {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar__inside {
    height: 1vmin;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress-bar_five {
    width: 5%;
    background-color: #EE4266;
}

.progress-bar_thirty-three {
    width: 33%;
    background-color: #EE4266;
}

.progress-bar_sixty-six {
    width: 66%;
    background-color: yellow;
}

.progress-bar_one-hundred {
    width: 100%;
    background-color: #5fe12c;
}


/*popup*/

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .64s ease-in-out;
}

.popup__inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    align-items: center;
    background-color: #fff;
    transition: .64s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.multiplayer-popup__inner {
    width: 40vw;
    height: 60vh;
}

.room-popup__inner {
    display: grid;
    width: 70vw;
    height: 78vh;
    grid-template-columns: 26% 46% 28%;
    grid-template-rows: 35% 30% 35%;
    grid-template-areas:
            ". room-title ."
            "room-player1 room-vs room-player2"
            ". room-text .";
    flex-direction: column;
    z-index: 1001;
    border-radius: 10px;
    background: white;
    position: relative;
    align-items: center;
    justify-content: center;
}

.room-popup__title {
    display: flex;
    grid-area: room-title;
    font-size: 6vmin;
    margin-bottom: 6vmin;
    margin-top: 5vmin;
}

.room-popup__player1 {
    display: flex;
    grid-area: room-player1;
    flex-direction: column;
}

.room-popup__vs {
    font-size: 15vmin;
    display: flex;
    grid-area: room-vs;
}

.room-popup__player2 {
    display: flex;
    flex-direction: column;
    grid-area: room-player2;
}

.room-name1, .room-name2 {
    font-size: 3vmin;
    margin-top: 1vmin;
}

.room-popup__player1 > img, .room-popup__player2 > img{
    width: 100%;
    height: 100%;
}

.room-popup__text {
    display: flex;
    grid-area: room-text;
    font-size: 4vmin;
    margin-top: 8vmin;
}

.active {
    visibility: visible;
    opacity: 1;
}

.popup__close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #EE4266;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.game-popup__close, .room-popup__close, .profile__popup-close{
    font-size: 2vmin;
    font-weight: 600;
}

.multiplayer-popup__title {
    font-size: 5vmin;
    margin-bottom: 5vmin;
    margin-top: 5vmin;
}

.multiplayer-popup__text {
    font-size: 3vmin;
}

.popup__login {
    font-size: 4vmin;
    width: 14vw;
}

.game-popup__result {
    font-size: 6vmin;
    margin-bottom: 2vmin;
}

.game-popup__button {
    font-size: 4vmin;
    margin: 2vmin 0;
    width: 15vw;
}


.game-popup__inner {
    width: 40vw;
    height: 45vh;
}

.multiplayer-popup__text {
    text-align: center;
    width: 80%;
    margin-bottom: 8vmin;
    font-size: 4vmin;
}


.popup__additional-title {
    font-size: 2.5vh;
    color: #6441A5;
    margin: 1vh 0;
}

.popup__additional-button {
    font-size: 3vmin;
    width: 10vw;
    margin:0 0 2vw 0;
    display: inline-block;
}


.blink {
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
    60% {color: inherit; }
    100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
    60% {color: inherit; }
    100% { color: rgba(34, 34, 34, 0); }
}

.correct-answer {
    -webkit-animation-name: green-answer;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
}

.wrong-answer {
    -webkit-animation-name: red-answer;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 1s
}

@-webkit-keyframes green-answer {
    to { background-color: #1ccb28; color: white}
}

@-webkit-keyframes red-answer {
    to { background-color: #f70000;color: white }
}


.scale-animation {
    z-index: 2;
    font-size: 3vmin;
    width: inherit;
    display: block;
    -webkit-animation: scale 1s ease-out;

    justify-self: center;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

.theme-select {
    font-size: 4vmin;
    color: #6441A5;
}



/* Анимация движение картинок в мультиплеере  */
.room-popup__opponent-animation {
    animation: opponent 3s infinite;
}


@keyframes opponent {
    0% {
        margin-top: 15vmin;
        opacity: 0;
    }
    30% {
        margin-top: 0;
        opacity: 1;
    }
    70% {
        margin-top: 0;
        opacity: 1;
    }
    100% {
        margin-top: -15vmin;
        opacity: 0;
    }
}

.room-popup__tips-animation  {
    text-align: center;
    animation: ticker 5s infinite; }

@keyframes ticker {
    0% {
        margin-top: 3vmin;
        opacity: 0; }
    10% {
        margin-top: 0;
        opacity: 1; }
    90% {
        margin-top: 0;
        opacity: 1; }
    100% {
        margin-top: -3vmin;
        opacity: 0; } }


/*preloader*/

.main__preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6441A5;
    z-index: 100;
}

.main__cube-folding {
    width: 12vmin;
    height: 12vmin;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 0;
}
.main__cube-folding span {
    position: relative;
    --side: 6vmin;
    width: var(--side);
    height: var(--side);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    display: inline-block;
}
.main__cube-folding span::before {
    content: '';
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: var(--side);
    height: var(--side);
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -moz-animation: folding 2.5s infinite linear both;
    -webkit-animation: folding 2.5s infinite linear both;
    animation: folding 2.5s infinite linear both;
}
.main__cube-folding .leaf2 {
    -moz-transform: rotateZ(90deg) scale(1.1);
    -ms-transform: rotateZ(90deg) scale(1.1);
    -webkit-transform: rotateZ(90deg) scale(1.1);
    transform: rotateZ(90deg) scale(1.1);
}
.main__cube-folding .leaf2::before {
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background-color: #f2f2f2;
}
.main__cube-folding.leaf3 {
    -moz-transform: rotateZ(270deg) scale(1.1);
    -ms-transform: rotateZ(270deg) scale(1.1);
    -webkit-transform: rotateZ(270deg) scale(1.1);
    transform: rotateZ(270deg) scale(1.1);
}
.main__cube-folding .leaf3::before {
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    background-color: #f2f2f2;
}
.main__cube-folding .leaf4 {
    -moz-transform: rotateZ(180deg) scale(1.1);
    -ms-transform: rotateZ(180deg) scale(1.1);
    -webkit-transform: rotateZ(180deg) scale(1.1);
    transform: rotateZ(180deg) scale(1.1);
}
.main__cube-folding .leaf4::before {
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    background-color: #e6e6e6;
}

@-moz-keyframes folding {
    0%, 10% {
        -moz-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -moz-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -moz-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
@-webkit-keyframes folding {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
@keyframes folding {
    0%, 10% {
        -moz-transform: perspective(140px) rotateX(-180deg);
        -ms-transform: perspective(140px) rotateX(-180deg);
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -moz-transform: perspective(140px) rotateX(0deg);
        -ms-transform: perspective(140px) rotateX(0deg);
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -moz-transform: perspective(140px) rotateY(180deg);
        -ms-transform: perspective(140px) rotateY(180deg);
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
.main__preloader-wrapper{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -12vmin;
    margin-left: -12vmin;
    width: 20vmin;
    height: 20vmin;
    text-align: center;
}
.main__preloader-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8vmin;
    margin: auto;
    width: 20.5vmin;
    height: 1vmin;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
    -moz-animation: shadow 0.5s ease infinite alternate;
    -webkit-animation: shadow 0.5s ease infinite alternate;
    animation: shadow 0.5s ease infinite alternate;
}
.main__preloader-wrapper .main__preloader-text {
    font-size: 5vmin;
    display: block;
    color: white;
    position: relative;
    top: 6vmin;
    z-index: 2;
    -moz-animation: text 0.5s ease infinite alternate;
    -webkit-animation: text 0.5s ease infinite alternate;
    animation: text 0.5s ease infinite alternate;
}

@-moz-keyframes text {
    100% {
        top: 5vmin;
    }
}
@-webkit-keyframes text {
    100% {
        top: 5vmin;
    }
}
@keyframes text {
    100% {
        top: 5vmin;
    }
}
@-moz-keyframes shadow {
    100% {
        bottom:-7.8vmin;
        width: 18.5vmin;
    }
}
@-webkit-keyframes shadow {
    100% {
        bottom:-7.8vmin;
        width: 18.5vmin;
    }
}
@keyframes shadow {
    100% {
        bottom:-7.8vmin;
        width: 18.5vmin;
    }
}
html, body {
    min-height: 100%;
}

body {
    background-color:  #673AB7;

}


.popup2__inner {
    line-height: initial;
    flex-direction: column;
    z-index: 1001;
    border-radius: 10px;
    background: white;
    margin: auto;
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
}

.popup2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    /*visibility: visible;*/
    /*opacity: 1;*/
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

@keyframes forward {
    0% {
        transform: scale(0.01, 0.01);
        opacity: 0.7; }
    40% {
        transform: scale(1.1, 0.01);
        opacity: 0.8; }
    80% {
        transform: scale(1.1, 1.1);
        opacity: 0.9; }
    100% {
        transform: scale(1, 1);
        opacity: 1; } }


.avatars {
    display: grid;
    width: 70vw;
    height: 90vh;
    grid-template-columns: 11% 26% 26% 26% 11%;
    grid-template-rows: 6% 28% 28% 28% 13%;
    grid-template-areas:
            ". . avatars-title . ."
            ". av1 av2 av3 ."
            "left-arrow av4 av5 av6 right-arrow"
            ". av7 av8 av9 ."
            ". . avatars-select . .";
}

.av1 {
    grid-area: av1;
}
.av2 {
    grid-area: av2;
}
.av3 {
    grid-area: av3;
}
.av4 {
    grid-area: av4;
}
.av5 {
    grid-area: av5;
}
.av6 {
    grid-area: av6;
}
.av7 {
    grid-area: av7;
}
.av8 {
    grid-area: av8;
}
.av9 {
    grid-area: av9;
}
.avatar__img {
    width: 65%;
    padding-bottom: 8px;
}
.avatars__avatar {
    height: 100%;
}


.avatar-border {
    border-radius: 7px;
    animation: appear ease-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0%   {border: 0}
    100% {box-shadow:inset 0 0 0 8px #EE4266;}
}

.avatars__left-arrow {
    grid-area: left-arrow;
}

.avatars__right-arrow {
    grid-area: right-arrow;
}

.avatars__title {
    grid-area:avatars-title;
    display: flex;
    font-size: 5vmin;
    margin-top: 3vmin;
}

.avatars__select-button {
    grid-area: avatars-select;
}


.select-button {
    display: inline-block;
    width: 10vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 3vh;
    margin-bottom: 3vmin;
}

.wrapper-not-found {
    background-color: #673AB7;
    width: 100%;
    height: 100%;
}
.wrapper-not-found__404 {
    font-size: 50vmin;
    color: white;
    text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
    margin-right: 15vmin;
}
.wrapper-not-found__text {
    font-size: 4vmin;
    text-align: center;
    width: 90%;
    margin-top: 5vmin;
}
.wrapper-not-found__info {
    background-color: white;
    width: 50vmin;
    height: 40vmin;
    flex-direction: column;
}
.wrapper-not-found__button {
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    width: 20vmin;
    height: 6vmin;
    font-size: 3vmin;
}




















/* laptops */
@media screen and (min-width: 1240px)  {
    .header__logo-section {
        font-size: 10vw;
    }
    .main__href_style {
        font-size: 9.5vh;
    }
    .main__profile-unregistered {
        font-size: 4vmin;
        width: 20vw;
        margin: 0 2vmin 2vmin 0;
    }
}

/*Phones portrait*/
@media screen and (max-device-width: 812px) and (min-device-width : 320px) {
    .header__logo-section {
        font-size: 17vw;
    }
    .main__href_style {
        font-size: 8vh;
    }
    .main__profile-unregistered {
        font-size: 4.2vmin;
        width: 30vw;
        margin: 0 2vmin 2vmin 0;
    }
    .form_elements__input {
        font-size: 2.5vh;
    }
    .form_elements__input, .main__errors{
        width: 50vw;
    }
    .main__signup-form > .form_elements {
        margin-bottom: 3vh;
    }
    .main__action-button {
        width: 30vw;
        font-size: 4vw;
    }
    .logout-button {
        width: 30vw;
        font-size: 4vmin;
    }
    .main__additional-button {
        width: 25vw;
        margin:0 0 4vw 0;
    }
    .main__login-title {
        font-size: 7.5vmin;
        margin:4vw 0 4vw 0;
    }
    .main__errors {
        font-size: 1.5vh;
    }
    .main__profile-registered, .profile-registered__first-letter {
        font-size: 3.2vh;
    }
    .table-scoreboard {
        width: 90vw;
        font-weight: bold;
        font-size: 5vmin;
    }
    .scoreboard-title {
        font-size: 7.5vmin;
    }
    .table__th {
        min-width: 7vmin;
        font-weight: bold;
    }
    .game-card {
        width: 90vw;
        --game-width: 90vw;
    }
    .game-main {
        grid-row: 2/3;
        grid-column: 1/4;
    }
    .game-card__question {
        font-size: 4vmin;
        margin-bottom: 5vmin;
    }
    .game-card__answer, .scale-animation {
        font-size: 4vmin;
    }
    .game-grid {
        grid-template-rows: 10% 75% 15%;
    }
    .progress-bar__inside {
        height: 3vmin;
    }
    .game-header {
        grid-template-rows: 65% 20%;
    }
    .header__timer {
        margin-top: 3vmin;
    }
    .game-main {
        margin-top: 18vmin;
    }
    .multiplayer-popup__inner {
        width: 90vw;
        height: 55vh;
    }
    .multiplayer-popup__close {
        width: 6vmin;
        height: 6vmin;
        line-height: 6vmin;
        font-size: 2vmin;
        font-weight: 600;
        right: -0.5rem;
        top: -0.5rem;
    }
    .multiplayer-popup__text {
        font-size: 5vmin;
        width: 85%;
        margin-bottom: 10vmin;
        margin-top: 3vmin;
    }
    .popup__login {
        width: 45vmin;
        font-size: 6vmin;
    }
    .popup__additional-title {
        font-size: 4vmin;
        width: 45vmin;
        text-align: center;
    }
    .multiplayer-popup__title {
        font-size: 8vmin;
        margin-bottom: 3vmin;
    }
    .popup__additional-button {
        font-size: 5vmin;
        width: 30vmin;
    }
    .answer_border:hover {
        box-shadow: inherit;
    }
    .game-popup__inner {
        width: 90vw;
        height: 35vh;
    }
    .game-popup__result {
        font-size: 6vmin;
        margin-bottom: 6vmin;
    }

    .game-popup__button {
        font-size: 5vmin;
        margin: 2vmin 0;
        width: 40vw;
    }
    .theme-select {
        font-size: 6vmin;
    }
    .about-page {
        width: 100vw;
        height: 48vh;
    }
    .about-page__title {
        font-size: 9vmin;
    }
    .about-page__content {
        font-size: 4vmin;
        margin: 0 3vmin;
    }
    .developer-title {
        font-size: 6vmin;
    }
    .developer {
        font-size: 3vmin;
    }
    .about-block {
        width: 80vw;
    }
    .room-popup__inner {
        width: 90vmin;
        height: 75vmin;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 30% 39% 31%;
        grid-template-areas:
                "room-title room-title room-title"
                "room-player1 room-vs room-player2"
                "room-text room-text room-text";
    }
    .room-popup__title {
        margin-top: 10vmin;
    }
    .room-popup__text {
        margin-top: 0;
    }
    .user-profile {
        width: 90vw;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 5% 45% 10%;
        grid-template-areas:
                "profile-header"
                "picture"
                "user-profile__change"
                "wrapper"
                "profile-button";
    }
    .user-profile__image {
        width: 40%;
        height: 40%;
    }
    .profile-data-wrapper {
        margin: 0 auto 3vmin auto;
        border-left: 0;

    }
    .user-profile__row-left, .user-profile__row-right  {
        font-size: 4vmin;
    }
    .user-profile__row-right {
        margin-left: 3vmin;
    }
    .user-profile__header {
        margin-top: 2vmin;
    }
    .profile-data-wrapper {
        margin-top: 1vmin;
    }
    .user-profile__button {
        border-left: 0;
        margin-bottom: 2vmin;
    }
    .user-profile__change {
        margin-bottom: 0;
    }
    .logout-button {
        margin-top: 0;
    }
    .user-profile__row {
    }

    .avatars {
        width: 95vw;
        height: 75vh;
        grid-template-columns: 11% 26% 26% 26% 11%;
        grid-template-rows: 7% 27% 27% 27% 8%;
        grid-template-areas:
                ". . avatars-title . ."
                ". av1 av2 av3 ."
                "left-arrow av4 av5 av6 right-arrow"
                ". av7 av8 av9 ."
                ". . avatars-select . .";
    }
    .avatar__img {
        width: 100%;
        height: 65%;
    }
    .select-button {
        font-size: 4vmin;
        width: 30vmin;
    }
    .avatars__title {
        margin-top: 10vmin;
    }
    .popup2__inner {
        margin-top: 30vmin;
    }
    .select-button {
        margin-bottom: 0;
    }
    @keyframes appear {
         0%   {border: 0}
         100% {box-shadow:inset 0 0 0 4px #EE4266;}
     }
    .wrapper-not-found {
        flex-direction: column;
    }
    .wrapper-not-found__404 {
        margin-right: 0;
    }
    .wrapper-not-found__info {
        width: 85vmin;
    }
    .wrapper-not-found__text {
        font-size: 5vmin;
        width: 70%;
    }
    .wrapper-not-found__button {
        margin-top: 5vmin;
        font-size: 4vmin;
        width: 30vmin;
    }
}

/*Phones landscape*/
@media screen
and (min-device-width : 375px)and (max-device-width : 812px)
and (orientation : landscape) {
    .header__logo-section {
        font-size: 13vw;
    }
    .main__href_style {
        font-size: 10.5vh;
    }
    .main__profile-unregistered {
        font-size: 5vmin;
        width: 25vw;
        margin: 0 2vmin 0 0;
    }
    .main__signin-form {
        width: 70vw;
    }
    .main__signup-form {
        width: 65vw;
    }
    .form_elements__input, .main__errors {
        width: 50vw;
    }
    .main__action-button {
        width: 30vw;
        font-size: 3vw;
    }
    .main__additional-button {
        width: 25vw;
        font-size: 4vh;
    }
    .logout-button {
        width: 30vw;
        font-size: 4vh;
    }
    .main__login-title {
        font-size: 8vh;
        margin:1vw 0 1vw 0;
    }
    .main__errors {
        font-size: 3vh;
    }
    .main__additional-button {
        margin:0 0 2vw 0;
    }
    .main__profile-registered, .profile-registered__first-letter {
        font-size: 6vh;
    }
    .table-scoreboard {
        width: 50vw;
    }
    .table-scoreboard {
        width: 60vw;
        font-size: 4vmin;
    }
    .scoreboard-title {
        font-size: 6vmin;
    }
    .table__th {
        font-weight: bold;
    }
    .game-card {
        width: 80vmin;
    }
    .progress-bar__inside {
        height: 2vmin;
    }
    .multiplayer-popup__inner {
        width: 50vw;
        height: 80vh;
    }
    .game-popup__inner {
        width: 50vw;
        height: 80vh;
    }
    .theme-select {
        font-size: 4vmin;
    }
    .about-page, .about-block {
        width: 80vw;
        height: 70vh;
    }
    .game-popup__close, .room-popup__close, .profile__popup-close{
        width: 6vmin;
        height: 6vmin;
        line-height: 6vmin;
        font-size: 2vmin;
    }
    .profile-data-wrapper {
        justify-content: center;
        margin-top: 0;
    }
    .logout-button {
        width: 30vmin;
    }
    .user-profile {
        width: 75vw;
        grid-template-columns: 40% 60%;
        grid-template-rows: 10% 50% 20%;
        grid-template-areas:
                "profile-header profile-header"
                "picture wrapper"
                "user-profile__change profile-button";
    }
    .user-profile__row-left, .user-profile__row-right {
        font-size: 4vmin;
    }
    .user-profile__image {
        width: 60%;
        height: 60%;
    }
    .user-profile__change {
        margin-bottom: 5vmin;
    }
    .profile-data-wrapper {
        border-left: 2px solid #6441A5;
    }

    .avatars {
        width: 60vw;
        height: 80vh;
        grid-template-columns: 7% 26% 26% 26% 7%;
        grid-template-rows: 7% 27% 27% 27% 8%;
        grid-template-areas:
                ". . avatars-title . ."
                ". av1 av2 av3 ."
                "left-arrow av4 av5 av6 right-arrow"
                ". av7 av8 av9 ."
                ". . avatars-select . .";
    }
    .avatar__img {
        width: 70%;
        height: 65%;
    }
    .select-button {
        font-size: 3vmin;
        width: 25vmin;
    }
    .avatars__select-button {
        margin-top: 3vmin;
    }
    .avatars__title {
        margin-top: 4vmin;
    }
    .popup2__inner {
        margin: auto;
    }
    .game-header {
        height: 15vmin;
    }
    @keyframes appear {
        0%   {border: 0}
        100% {box-shadow:inset 0 0 0 3px #EE4266;}
    }
    .select-button {
        margin-bottom: 2vmin;
    }
    .wrapper-not-found {
        flex-direction: row;
    }
    .wrapper-not-found__info {
        width: 80vmin;
        margin-left: 4vmin;
    }
    .wrapper-not-found__button {
        margin-top: 3vmin;
        width: 30vmin;
    }

}

/* IPads 1-5 and iPad mini portrait and landscape */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .header__logo-section {
        font-size: 15vw;
    }
    .main__href_style {
        font-size: 9vh;
    }
    .main__profile-unregistered {
        font-size: 3.8vmin;
        width: 28vw;
        margin: 0 2vmin 0 0;
    }
    .main__additional-button {
        margin:0 0 4vw 0;
    }
    .logout-button {
        width: 30vw;
        font-size: 3vh;
    }
    .multiplayer-popup__inner {
        width: 90vw;
        height: 65vh;
    }
    .game-popup__inner {
        width: 90vw;
        height: 65vh;
    }
    .about-page, .about-block{
        width: 85vw;
        height: 70vh;
    }
    .popup2__inner {
        margin-top: 20vmin;
    }
}