.menu.menu-modal.leaderboard
    .button Top players:
    - for (let player of players) {
        .clearfix.player
            .floated-left #{player[0]}
            .floated-right #{player[1]}
    - }