.button Top players
- for (let player of allUsers) {
.clearfix.player
    .floated-left #{player.login}
    .floated-right #{player.score}
- }
.button.button-half.pagination-prev Prev
.button.button-half.button-last.pagination-next Next
