.menu
    .button Your profile
    .button.button-half.button-left Login
    .button.button-half.button-right #{login}

    .button Mail: #{mail}

    .button.button-half.button-left Score
    .button.button-half.button-right #{score}
