.main-preloader
    .main-preloader__center
        span.main-preloader__letter L
        span.main-preloader__letter O
        span.main-preloader__letter A
        span.main-preloader__letter D
        span.main-preloader__letter I
        span.main-preloader__letter N
        span.main-preloader__letter G