.main__preloader.center-content
    .main__preloader-wrapper
        .main__cube-folding
            span.leaf1
            span.leaf2
            span.leaf3
            span.leaf4
        span.main__preloader-text Loading