.themes
    .button Choose theme
    .button.button-half.button-left.themes_js JS
    .button.button-half.button-right.themes_js CSS
    .button.button-half.button-left.themes_js JAVA
    .button.button-half.button-right.themes_js SQL
.questions
    .question_block.button Question
    .button.button-half.button-left.answers_js 1
    .button.button-half.button-right.answers_js 2
    .button.button-half.button-left.answers_js 3
    .button.button-half.button-right.answers_js 4
.result
    .button.result_js
    .button.again_js Play again
    .button.endGame_js Go to menu
.timer
    canvas