.game-grid.game-main-color
    .header
        .game-header.white-font
            .header__opponent.center-content
            .header__round-info
                    .header__round Round 1/3
                    .header__hyphen -
                    .header__theme JS
            .header__time-section.center-content
                .header__timer
                .header__waiting-block
            .header__waiting-block

    .main.game-main
        .game-card.grey-font

            //для тем
            .js-themes
                .game-card__question.z-2.small-material-shadow
                    .game-card__question.z-1.small-material-shadow
                        .game-card__question.small-material-shadow.center-content
                            .game-card__question-holder.center-content.theme Выберете тему
                .button-answer.answer_border.game-card__answer.small-material-shadow.a1.js-theme-button JS
                .button-answer.answer_border.game-card__answer.small-material-shadow.a2.js-theme-button CSS
                .button-answer.answer_border.game-card__answer.small-material-shadow.a3.js-theme-button JAVA
                .button-answer.answer_border.game-card__answer.small-material-shadow.a4.js-theme-button SQL
            //конец тем

            .js-questions
                .game-card__question.z-2.small-material-shadow
                    .game-card__question.z-1.small-material-shadow
                        .game-card__question.small-material-shadow.center-content
                            .game-card__question-holder.center-content.js-main-question
                .button-answer.answer_border.game-card__answer.small-material-shadow.a1.js-answer-button
                .button-answer.answer_border.game-card__answer.small-material-shadow.a2.js-answer-button
                .button-answer.answer_border.game-card__answer.small-material-shadow.a3.js-answer-button
                .button-answer.answer_border.game-card__answer.small-material-shadow.a4.js-answer-button

            .game-card__progress-bar
                .progress-bar__inside.progress-bar_zero

    .game-popup.popup
        .game-popup__inner.popup__inner.purple-font
            .game-popup__result Your result is 1/3
            .game-popup__button.form__button_style.btn-animation.js-again-button
                span Play again
            .game-popup__button.form__button_style.btn-animation.js-end-game
                span Home


//.themes
//    .button.button_yellow Choose theme
//    .button.button-half.button-left.themes_js.button_yellow JS
//    .button.button-half.button-right.themes_js.button_yellow CSS
//    .button.button-half.button-left.themes_js.button_yellow JAVA
//    .button.button-half.button-right.themes_js.button_yellow SQL
//.questions
//    .progress-bar
//        .progress-bar-inner.progress-theme_js
//    .progress-bar
//        .progress-bar-inner.progress-question_js
//    .question_block.button.button_yellow Question
//    .button.button-half.button-left.answers_js.button_yellow 1
//    .button.button-half.button-right.answers_js.button_yellow 2
//    .button.button-half.button-left.answers_js.button_yellow 3
//    .button.button-half.button-right.answers_js.button_yellow 4
//.menu.menu-shadow.profile-menu.white-background
//    .result
//        .center-block-singleplayer
//            h1
//        .button.again_js.button_yellow Play again
//        .button.endGame_js.button_yellow Go to menu
//.timer
//    canvas