@media screen and (min-width: 801px) {
	.themes, .questions{
		margin-top: 25vh;
		width: 400px;
	}
}
@media screen and (max-width: 800px) {
	.themes, .questions{
		width: 90%;
		margin-top: 10vh;
	}
}

.themes, .questions{
	margin-left: auto;
	margin-right: auto;
}
.button_yellow{
	background: #FBF55D;
}
canvas{
	width: 200px;
	height: 200px;
	margin-left: calc(50% - 100px);
}