.grid
    .header
        .header__logo-section Code Storm
    .main
        form.main__signin-form.material-shadow.round-borders
            .main__login-title Log in
            .form_elements
                input.form_elements__input(type="text", required)
                span.bar
                label.form_elements__label Name
            .form_elements
                input.form_elements__input(type="text", required)
                span.bar
                label.form_elements__label Email
            .main__errors

            .main__send-data
                .main__action-button.form__button_style.btn-animation
                    span Log me in!
                .main__not-registered
                    .main__additional-title You are not registered?
                a.btn.main__additional-button.form__button_style.btn-animation(href="/signup") Register
