.main-block
    .menu.menu-shadow.white-background
        h1.center-text Not found
        h3.center-text The resource you are looking for doesn't exist
        .button.yellow
            a.menu-href.home(href = "/") Home
