.menu
    .authorized
        .button Play as #{username}
        .button.button-half.button-settings Settings
        .button.button-half.button-last Log out
    .unauthorized
        .button Play as guest
        .button.button-half.button-login Log in
        .button.button-half.button-register Register
    .common-menu
        .button Play singleplayer
        .button.button-leaderboard Leaderboard