.button Top players
.leaderboard-body
    - for (let player of users) {
    .clearfix.player
        .floated-left #{player.login}
        .floated-right #{player.score}
    - }
.button.button-half.pagination-prev.button-left.yellow Prev
.button.button-half.button-last.pagination-next.button-right.yellow Next