/* laptops */
@media screen and (min-width: 500px)  {
  .header__logo-section {
    font-size: 10vw;
  }
  .main__href_style {
    font-size: 9.5vh;
  }
  .main__profile-unregistered {
    font-size: 4vmin;
    width: 20vw;
    margin: 0 2vmin 2vmin 0;
  }
}